.hostPro_Cards {
  border: 2px solid transparent;
  display: flex;
  cursor: pointer;
  justify-content: center;
  padding: 18px 0;
  background: #ffffff;
  box-shadow: 11.8904px 4.45889px 32.6986px rgba(0, 0, 0, 0.13);
  border-radius: 13px;
  -webkit-border-radius: 13px;
  -moz-border-radius: 13px;
  -ms-border-radius: 13px;
  -o-border-radius: 13px;
}

.hostPro_Cards:hover {
  border: 2px solid rgba(115, 54, 230, 1);
}

.hostPro_Cards__active {
  border: 2px solid rgba(115, 54, 230, 1);
}

.hostPro_Cards img {
  width: 10.5em !important;
}

.col_no_padding {
  padding: 0 16px 0 0;
  margin-bottom: 16px;
}
