.containerParent {
  background-image: url(../public/BG.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 auto;
  text-align: center;
}

.containerParent h2 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  text-align: center;
  margin-bottom: 18px;
  font-size: 1.55rem;
}

.hostParent {
  width: 38em;
  margin: 0 auto;
}

.host__section {
  padding-bottom: 2.3em;
}

.host__section:last-of-type {
    padding-bottom: 4.3em;
  }
/* ARCHI SECTION  */
.host__archiParent {
  width: 38em;
  margin: 0 auto;
}

.host__archiFlex {
  display: flex;
  align-items: center;
}

.host__archiDetails {
  width: 39em;
  margin: 0 auto;
}

.host__stack {
  text-align: left;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 0.5rem;
  margin-bottom: 2px;
  margin-left: -4px;
}

.host_archiArrow {
  margin: 0 1em;
  width: 5em;
}

.host__NextBtn {
  background: linear-gradient(90deg, #4f42c4 0%, #7336e6 100%);
  border-radius: 4.5px;
  color: #fff;
  font-size: 0.55rem;
  padding: 5px 27px;
  text-transform: uppercase;
  margin-top: 18px;
}
/*
font-family: 'Lato', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Flex', sans-serif;
font-family: 'Roboto Mono', monospace;
*/
